@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.badge-default {
    background-color: #777;
}
.badge-primary {
    background-color: #337ab7;
}
.badge-success {
    background-color: #5cb85c;
}
.badge-info {
    background-color: #5bc0de;
}
.badge-warning {
    background-color: #f0ad4e;
}
.badge-danger {
    background-color: #d9534f;
}

.navbar-icon-top .navbar-nav>li>a>.fa, .navbar-icon-top .navbar-nav>li>a>.glyphicon {
    position: relative;
    width: 36px;
    font-size: 24px;
}
.navbar-icon-top .navbar-nav>li>a>.fa>.badge, .navbar-icon-top .navbar-nav>li>a>.glyphicon>.badge {
    position: absolute;
    right: 0;
    font-family: sans-serif;
}
.navbar-icon-top .navbar-nav>li>a>.fa {
    top: 3px;
    line-height: 12px;
}
.navbar-icon-top .navbar-nav>li>a>.fa>.badge {
    top: -10px;
}
.navbar-icon-top .navbar-nav>li>a>.glyphicon {
    top: 6px;
    line-height: 6px;
}
.navbar-icon-top .navbar-nav>li>a>.glyphicon>.badge {
    top: -16px;
}

@media (min-width: 768px) {
    .navbar-icon-top .navbar-brand {
        padding: 25px 15px;
    }
    .navbar-icon-top .navbar-text {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .navbar-icon-top .navbar-btn, .navbar-icon-top .navbar-form {
        margin-top: 18px;
        margin-bottom: 18px;
    }
    .navbar-icon-top .navbar-nav>li>a {
        text-align: center;
        display: table-cell;
        height: 70px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }
    .navbar-icon-top .navbar-nav>li>a>.fa, .navbar-icon-top .navbar-nav>li>a>.glyphicon {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
    }
    .navbar-icon-top .navbar-nav>li>a>.fa>.badge, .navbar-icon-top .navbar-nav>li>a>.glyphicon>.badge {
        top: -7px;
    }
}


.backgroundgradient{
    background-image: linear-gradient(to right, #b4a0aa, #b39bae, #af98b5, #a696bd, #9795c5, #898dbd, #7a86b5, #6c7eac, #616c93, #565b7a, #494b63, #3c3c4c);
}

.center {
    font-size: 30px;
    position: absolute;
    z-index: 15;
    height: 70%;
    width: 100%;
}

.margins{
    margin: 30px;
}

.imageLogoFirst{
    position: absolute;
    right: 30%;
    width: 200px;
    bottom: 7%;
}

.imageLogoSecond{
    width: 200px;
    position: absolute;
    left: 30%;
    max-height: 20%;
    bottom: 5%;
}

.centerText{
    font-weight: bolder;
    text-align: center;
    position: relative;
    top:20%;
}

.centerText2{
    font-family: Calibri;
    text-align: center;
    position:relative;
    top:30%;
}

.centerText3{
    position:absolute;
    top:60%;
    left: 46%;
}

.hyperlinks:hover {
    font-size: 30px;
    color: black;

}

.hyperlinks{
    align-content: center;
    transition: .3s;
    text-decoration:none;
    font-size: 25px;
    color: black;
}

.hyperlinksdiv {
    display:table;
    zoom:1;
    padding:30px;
    margin: auto;
    width: 40%;
}

.hyperlinksdiv:hover{
    transform: rotate(1deg);
    transition: .3s;
}

footer {
    position: absolute;
    text-align: center;
    bottom: 1%;
    font-size: 14px;
    width: 100%;
    height: 20%;
}

.footercolor {
    font-size: 30px;
    position: absolute;
    height: 35%;
    width: 100%;
}

.imageLogoFirstFooter {
    position: absolute;
    right: 39%;
    width: 150px;
    bottom: 15%;
}

.imageLogoSecondFooter {
    width: 150px;
    position: absolute;
    left: 37%;
    bottom: 10%;
}

.copyright{
    font-size: 20px;
    position: absolute;
    bottom: 0%;
    left: 40%;
}

.centerText4 {
    position:absolute;
    top:40%;
    left: 42%;
}