<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<th:block th:include="/navbar"></th:block>

<div class="center">
    <form th:action="@{/selection}" th:object="${parameterIndex}" method="post">
        <div class="margins">
            Wybierz parametr który jest liczbą:
        </div>
        <div class="margins">
            <select class="form-control" name="parameterindex" id="parameterindex" title="paramaterSelect">
                <option type="text" th:each="parameter : ${parameters}"
                        th:value="${parameter.index}"
                        th:text="${parameter.name}"></option>
            </select>
            <button type="submit" class="btn-success">Zatwierdz parametr</button>
        </div>
    </form>
</div>
</body>
</html>